<div ng-controller="InfoCtrl">
    <div id="div_info">
		<h1>Qui sommes-nous ?</h1>
		<br>
		<div class="description">
			<div id="informations_description" class="row">
				<img src="img/icarus.jpg" alt="logo" id="logo_info">
				<div class="description">
					<strong>I-CARE est le premier réseau de partage de bornes de recharge (Wallbox).</strong>
				</div>
				<br>
				<div class="description">
					I-CARE s'adresse aux propriétaires de voitures électriques et leur donne accès à un réseau de bornes de recharge de particuliers dans toute la France. <br>
					I-CARE s'adresse également aux particuliers qui souhaitent partager leurs bornes de rechargement, moyennant paiement, avec des conducteurs. <br>
				</div>
			</div>
			<div id="informations_conducteur" class="row">
				<img src="img/twizy-electrique-recharge.jpg" alt="voiture" id="img_voiture">
				<h4>Conducteurs de voitures électriques</h4>
				<div class="description">
					Pour rejoindre le réseau de conducteurs et de bornes, il suffit de vous <a href="#/signup" class="btn btn-info"><i class="fa fa-user-plus"></i> Inscrire</a> et de télécharger l'application I-CARE sur votre smartphone. L'application vous permet de trouver partout en France la borne disponible la plus proche. La liste des bornes est également disponible sur le site internet.
				</div>
			</div>
			<div id="informations_borne" class="row">
				<img src="img/borne-recharge.png" alt="borne" id="img_borne">
				<h4>Louer sa borne de recharge</h4>
				<div class="description">
					Pour rejoindre le réseau I-CARE et mettre votre borne à disposition des autres membres, il suffit de vous <a href="#/signup" class="btn btn-info"><i class="fa fa-user-plus"></i> Inscrire</a> puis d'accéder à votre <a href="#/signup" class="btn btn-primary"><i class="fa fa-user"></i> Espace Membre</a> afin d'ajouter votre borne. Vous pourrez fixer le prix de location de votre borne dans cette interface.
				</div>
			</div>
			<br><br>
			<div id="informations_partenariat">
				<strong>En partenariat avec</strong>
				<div class="conteneur_image">
					<img src="img/logoERDF.jpg" alt="logoERDF" class="logoPartenaire">
					<img src="img/logoCentrale.jpg" alt="logoCentrale" class="logoPartenaire">
					<img src="img/logoTriathon.jpg" alt="logoTriathon" class="logoPartenaire">
				</div>
			</div>
		</div>
	</div>
</div>