<div ng-controller="InfoCtrl">
    <div id="div_info">
		<h1>Qui sommes-nous ?</h1>
		<br>
		<div class="description">
			<div id="informations_description" class="row">
				<img src="img/icarus.jpg" alt="logo" id="logo_info">
				<div class="description">
					<strong>I-CARE est le premier réseau de partage de bornes de recharge de voiture électriques.</strong>
				</div>
				<br>
				<div class="description">
					I-CARE s'adresse au possesseur de voiture électriques et leur permet d'avoir accès un réseau de bornes de recharges de particulier dans toute la France. <br>
					I-CARE s'adresse également aux particuliers qui souhaitent partager leurs bornes de rechargement avec d'autres conducteurs de voitures électriques. <br>
				</div>
			</div>
			<div id="informations_conducteur" class="row">
				<img src="img/twizy-electrique-recharge.jpg" alt="voiture" id="img_voiture">
				<h4>Conducteurs de voitures électriques</h4>
				<div class="description">
					Pour rejoindre le réseau de conducteurs et de bornes de recharge de voitures électriques, il vous suffit de vous <a href="#/signup" class="btn btn-info"><i class="fa fa-user-plus"></i> Inscrire</a> et de télécharger l'application I-CARE sur votre smartphone. L'application vous permet de trouver partout en France la borne de rechargement disponible la plus proche. La liste des bornes est également disponible sur la page d'accueil du site.
				</div>
			</div>
			<div id="informations_borne" class="row">
				<img src="img/borne-recharge.png" alt="borne" id="img_borne">
				<h4>Louer sa borne de recharge</h4>
				<div class="description">
					Pour rejoindre le réseau I-CARE et mettre votre borne à disposition des autres membres du réseau il vous suffit de vous <a href="#/signup" class="btn btn-info"><i class="fa fa-user-plus"></i> Inscrire</a> puis d'accéder à votre <a href="#/signup" class="btn btn-primary"><i class="fa fa-user"></i> Espace Membre</a> afin d'ajouter votre borne.
					Lors de l'utilisation de votre borne par un membre une majoration vous sera reversée.
				</div>
			</div>
			<br><br>
			<div id="informations_partenariat">
				<strong>En partenariat avec</strong>
				<img src="img/logoERDF.jpg" alt="logoERDF" id="logoERDF_info">
			</div>
		</div>
	</div>
</div>