<div ng-controller="MainCtrl">
	<div class="header_title">
	    <div>
			<h1><span class="acronyme">I</span>ntelligent <span class="acronyme">CAR</span> <span class="acronyme">E</span>nergy</h1>
		</div>
		<div>
			Welcome to I-CARE ! Le premier résau de partage d'énergie d'électrique !
		</div>		
	</div>
	<div class="container_animation">
		<audio id="musique" src="upload/10_Buckets_Of_Rain.mp3">
			<source src="upload/10_Buckets_Of_Rain.mp3" type="audio/mpeg; codecs="mp3"">
		</audio>
		<div ng-if="showPlay">
			Découvrir I-CARE 
		</div>
		<button id="button_play" ng-if="showPlay" ng-click="$parent.animate()"><i class="fa fa-5x fa-play-circle-o"></i></button> 
		<div ng-if="animation_un" ng-class="{animated : $parent.animation_un_animated, fadeIn : $parent.animation_un_animated, fadeOut : $parent.animation_un_end}">Vous venez d’acheter votre véhicule électrique</div>
		<img ng-if="animation_deux" ng-class="{animated : $parent.animation_deux_animated, fadeIn : $parent.animation_deux_animated, fadeOut : $parent.animation_deux_end}" src="img/zoe_animation.png" alt="zoe"/>
		<div ng-if="animation_trois" ng-class="{animated : $parent.animation_trois_animated, fadeIn : $parent.animation_trois_animated, fadeOut : $parent.animation_trois_end}">Difficile à recharger lors de longs voyages…</div>
		<img id="image_pas_content" ng-if="animation_quatre" ng-class="{animated : $parent.animation_quatre_animated, fadeIn : $parent.animation_quatre_animated, fadeOut : $parent.animation_quatre_end}" src="img/pas_content_animation.png" alt="pas content"/>
		<div ng-if="animation_cinq" ng-class="{animated : $parent.animation_cinq_animated, fadeIn : $parent.animation_cinq_animated, fadeOut : $parent.animation_cinq_end}" >Trouvez les bornes près de vous</div>
		<img ng-if="animation_six" ng-class="{animated : $parent.animation_six_animated, fadeIn : $parent.animation_six_animated, fadeOut : $parent.animation_six_end}" src="img/map_animation.png" alt="maps"/>
		<div ng-if="animation_sept" ng-class="{animated : $parent.animation_sept_animated, fadeIn : $parent.animation_sept_animated, fadeOut : $parent.animation_sept_end}" >Ou Partagez votre Wallbox</div>
		<img ng-if="animation_huit" ng-class="{animated : $parent.animation_huit_animated, fadeIn : $parent.animation_huit_animated, fadeOut : $parent.animation_huit_end}" src="img/wallbox_animation.png" alt="wallbox">
		<div id="div_animation_neuf" ng-if="animation_neuf" ng-class="{animated : $parent.animation_neuf_animated, fadeIn : $parent.animation_neuf_animated, fadeOut : $parent.animation_neuf_end}">
			<div class="div_animation_final">
				<span>Avec I-CARE</span><br>
				Rejoignez I-CARE et profitez du premier réseau de recharge pour voiture électriques !
			</div>
			<div>
				<a href="#/signup" class="btn btn-success"><i class="fa fa-user-plus"></i> Rejoindre le réseau !</a> 
				<button ng-click="$parent.retry()" class="btn btn-info"><i class="fa fa-refresh"></i> Replay </a>
			</div>
		</div>
	</div>

</div>